<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
<!-- 		        	<li><a href="/about">About</a></li> -->
	        		<li><a href="https://github.com/yuli-yl/yuli-yl.github.io/blob/master/cv/CV_YULI_2020.pdf">CV</a></li>
<!-- 	        		<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yu.li.sallylee@gmail.com/yuli@cse.cuhk.edu.hk">email</a></li>
	        		<li><a href="https://github.com/yuli-yl">github.com/yuli-yl</a></li>
				</ul>
			</footer>
		</body>
	</html>
